@model Recruitment_Process_System_HR.Models.Vacancy

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Vacancy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateBegin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateBegin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequireDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequireDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Benefit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Benefit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfChangeStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfChangeStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FulfillDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FulfillDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.DepartmentCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.DepartmentCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VacId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
